.Dashboard {
    margin: 5;
    padding: 10;
    min-height : 100vh;
    text-align: center;
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
    display: relative;
  }

  
  .Dashboard-link {
    color: #61dafb;
  }
  
    